.btnAddLetters {
    background-color: var(--azul-oscuro);
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 0.4rem;
    padding: 0.8rem 0;
    transition: transform 0.2s ease;
    border: none;
    height: 5rem;
}
.btnAddLetters:hover {
    transform: scale(1.02);
    background-color: #396470e3;
}
